.wrapper{
    display: grid;
    grid-template-areas: 
        "l_side header     header       r_side"
        "l_side nav        nav          r_side"
        "l_side left-sidebar    content      r_side"
        "l_side left-sidebar    content      r_side"
        "l_side footer footer r_side";
}

.left-sidebar{
    margin-top: 15px;
    margin-left: 20px;
    grid-area: left-sidebar;
    margin-right: 30px;
    background-color: rgb(116, 29, 29);
    float:left; 
    height: 400px; 
    width:200px; 
    padding:10px;
    color: white;
}

.left-sidebar > p >a[href^="#"] {
    color: white;
}
.content{
    grid-area: content;
    margin-right: 20px;
}

.photo-grid{
    grid-column: col 3 / span 2;
    grid-row: row 2;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}
.caption1{
    color: rgb(116, 29, 29);
    font-size: 30px;
    position: absolute;
    top: 57%;
    left: 43%;
    transform: translate(-50%, -50%); 
}
.caption2{
    color: rgb(116, 29, 29);
    font-size: 30px;
    position: absolute;
    top: 57%;
    left: 64%;
    transform: translate(-50%, -50%); 
}
.caption3{
    color: rgb(116, 29, 29);
    font-size: 30px;
    position: absolute;
    top: 73%;
    left: 41%;
    transform: translate(-50%, -50%); 
}
.caption4{
    color: rgb(116, 29, 29);
    font-size: 30px;
    position: absolute;
    top: 73%;
    left: 64%;
    transform: translate(-50%, -50%); 
}
.caption5{
    color: rgb(116, 29, 29);
    font-size: 30px;
    position: absolute;
    top: 79%;
    left: 42%;
    transform: translate(-50%, -50%); 
}

#gmap_canvas{
    border-radius: 5px;
    
}
ul {
    list-style: none;
}