body {
    margin:0;padding:0
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr  1fr;
    grid-template-areas: 
        "l_side header     header       r_side"
        "l_side nav        nav          r_side"
        "l_side content    newsfeed     r_side"
        "l_side content    contact      r_side"
        "l_side footer footer r_side";
}

.l_side{
    grid-area: l_side;
}
.r_side{
    grid-area: r_side;
}
.side-panel{
    object-fit: fill;
    width: 254px;
    height: 894px;
    /* max-width: 250px;
    height: 894px; */
}

.logo{
    margin-left: 20px;
    border-style: double;
}
/* Header Starts Here */ 
.header{
    
    grid-area: header;
}
.banner{
    display: inline-block;
    width: 277px;
    font-size: large;
    margin-left: 4px;
}  
.nav{   
    grid-area: nav; 
}

.users{
    position: relative;
    top: -60%;
    right: -60%;
}

/* Navigation Bar Content */
nav {
    margin-left: 20px;
        border-top: solid black;
        border-bottom: solid black;
        padding: 0;
        height:28px;
    margin-right: 20px; 
    }
nav ul li {
    list-style: none;
    display: inline-block;
    margin: -1px auto;
    font-size: 16px;
    padding: 0;
    transform: translate(10px, -10px);
}
#bar {
    text-align: justify;
    min-width: 500px;
    padding-right: 40px;
}
#bar:after {
    content: '';
    display: inline-block;
    width: 90%;
}
#bar li {
    display: inline-block;
}

a {
    color: black;
    text-decoration: none;
}
a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}
/* Navigation Bar Content Ends */

.bookshelf{
    border-style: double;
}
.content{
    margin-left: 20px;
    grid-area: content;
}
.content > p {
    margin-right: 30px;
}

.newsfeed{
    grid-area: newsfeed;
    overflow-y: scroll;
    margin-right: 20px;
    background-color: rgb(116, 29, 29);
    color: white;
    /* height: min-content; */
    float:right; 
    height: 300px; 
    width:200px; 
    padding:10px; 
}

.contact > p:first-line { 
    font-weight: bold; 
}
.contact{
    grid-area: contact;
    margin-right: 30px;
    margin-left: 30px;
    font-size: small;
}
.contact > p> a[href^="email"]{
    color: rgb(116, 29, 29);
    text-decoration: underline;
}

.footer{
    grid-area: footer;
}

/* footer styling*/
footer{
    border-top: 2px solid black;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}
footer ul {
    list-style-type: none;
    padding-top: 1px;
    width: 70%;
    margin: auto;
  }
footer ul li{
    display: inline;
    padding: 0px;
}
footer ul li a {
    color: black;
    text-decoration: none;
}
footer ul li a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}
footer h6{
    margin: 0px;
    color: grey;
}