.note_title {
    color: rgb(116, 29, 29);
}

.btn {
    margin-top: 10px;
}

.l_side{
    grid-area: l_side;
}
.r_side{
    grid-area: r_side;
}
.side-panel{
    object-fit: fill;
    width: 300px;
    height: 1056px;
}

updater {
    grid-area: content;
}

.header {
    grid-area: header;
    height: 141px;
}
.master-nav {
    grid-area: nav;
    height: 50px;
    border-top: solid black;
    border-bottom: solid black;
}

h5 {
    display: inline-block;
    margin-right: 20px;
}
