<div class="footer">
    <footer>
        <ul>
            <li>
                <a href="{{ url_for('home') }}">HOME</a>
            </li>
            <li>-</li>
            <li>
                <a href="{{ url_for('about') }}">WHO WE ARE</a>
            </li>
            <li>-</li>
            <li>
                <a href="{{ url_for('what_we_do') }}">WHAT WE DO</a>
            <li>-</li>
            <li>
                <a href="#">NEWS & EVENTS</a>
            </li>
            <li>-</li>
            <li>
                <a href="#">WHERE WE WORK</a>
            <li>-</li>
            <li>
                <a href="#">CONTACT US</a>
            </li>
        </ul>
        <h6>&copy;2009 Neltse, Zehe & Antas, P.C. // Website Design by OneTen Creative</h6>
    </footer>
</div>
