<div class="header">

    <nav class="navbar navbar-light mini-nav">
        <div class="cotainer">
            <img class="logo" src="https://via.placeholder.com/70x70" alt="logo">
            <h1 id="company_name">NIELSEN, ZEHE & ANTAS, P.C.</h1>
        </div>
               
        <a href="{{ url_for('show_notes') }}">
          <h5>CASE NOTES</h5>
        </a>

<!-- Tried to make a nice drop down navbar but broke everything
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('show_notes') }}">Case Notes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('create_note') }}">Create a Case Note</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
          </ul>
        </div> -->
    </nav>
</div>
