{% extends 'base.html'  %}

{% block content %}
        <div class="content">
        <!--Main Image-->
        <img class="bookshelf" src="../static/images/bookshelf.jpg" alt="NZA Law Group" height="400"
        width="520">
        <h4>Welcome to our Website!</h4>
            <p>
                Nielson, Zehe & Antas, PC is nationally recognized and respected law firm that offers its clients big firm experience and talent in a smaller firm environment. Our reputation is very important to us. e solve our clients problems in some situations and we even prevent them all together in other situations. We welcome you to our website to learn more about us. 
            </p>
        </div>
        <div class="newsfeed">
            <h3>News Feed</h3><hr>
            <p>Ashley S. Portman was named a Rising Star Super Lawyer® from 2018-2019.</p>   
            <p>Savaiano has been named a Super Lawyer® for 15 consecutive years.</p>
            <p>Pat Hess and Kevin Pugliese settled a subrogation lawsuit involving a water loss for $1.8 million in Minnesota.</p> 
            <p>Jack McCabe holds a AV® Preeminent™ Rating by Martindale-Hubbell.</p>
            <p>Ashley S. Portman was named a Rising Star Super Lawyer® from 2018-2019.</p>   
            <p>Savaiano has been named a Super Lawyer® for 15 consecutive years.</p>
            <p>Pat Hess and Kevin Pugliese settled a subrogation lawsuit involving a water loss for $1.8 million in Minnesota.</p> 
            <p>Jack McCabe holds a AV® Preeminent™ Rating by Martindale-Hubbell.</p>
            <p>Ashley S. Portman was named a Rising Star Super Lawyer® from 2018-2019.</p>   
            <p>Savaiano has been named a Super Lawyer® for 15 consecutive years.</p>
            <p>Pat Hess and Kevin Pugliese settled a subrogation lawsuit involving a water loss for $1.8 million in Minnesota.</p> 
            <p>Jack McCabe holds a AV® Preeminent™ Rating by Martindale-Hubbell.</p>
        </div>    
        <div class="contact">
            <p>
                Nielson , Zehe & Antas, P.C.
                <br>55 W. Monroe Street, Suite 1800
                <br>Chicago, Illinois 60603
                <br>312-655-2343 phone
                <br>312-655-2343 fax
                <br>
                <a href="email">ENielson@nzalaw.com</a>
            </p>
        </div>   
{% endblock content %}
    
