{% extends 'base.html' %}

{% block content %}
    <header class="banner">
        <h1 class="header-text">NZA Law Firm</h1>
    </header>

    <h1>Hello there {{ current_user.username }}</h1>
    {% if current_user.is_authenticated %}
        {% for post in user_posts %}
            <div class="container">
                <h3>
                    <a href="{{ url_for('post_detail', post_id = post.id) }}">{{ post.title }}</a>
                </h3>
                <p>{{ post.content }}</p>
            </div>
        {% endfor %}
    {% else %}
    <h2>Nothing to show here...</h2>

    {% endif %}
{% endblock content %}