{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" type=text/css href="../static/css/logged.css">
{% endblock style %}

{% block content %}

    <div class="container">
        <h3>Lawyer Login</h3>
        <form method="POST">
            {{ login_form.hidden_tag() }}
            <div class="form-group">
                <fieldset>
                    {{ login_form.email.label }}
                    {{ login_form.email(class="form-control", placeholder = "Email Here")}}
                </fieldset>
                <fieldset>
                    {{ login_form.password.label }}
                    {{login_form.password(class = "form-control", placeholder = "Password Here")}}
                </fieldset>
                <fieldset>
                {{ login_form.submit(class="btn btn-success") }}
            </fieldset>
            </div>
        </form>
        <h3>To create a new acount, register here: </h3>
        <a href="{{ url_for('register') }}">
            <button type="button" class="btn btn-primary">Register</button>
        </a>
    </div>

{% endblock content %}
        