{% extends 'base.html' %}

{% block content %}
    <a href="{{ url_for('show_notes') }}">
        <button class="btn btn-primary">Back to Your Case Notes</button>
    </a>

    <div class="container">
        <h3>Case Note Info:</h3>
        <hr>
        <h3>Case Name: {{ note.name }}</h3>
        <p>Content: {{ note.case_note }}</p>

        <blockquote>Date Created: {{ note.date_created }}</blockquote>


        <a href="{{ url_for('note_update', note_id = note.id) }}">
            <button class="btn btn-primary">Update Case Note</button>
        </a>

        <!-- <a href="{{ url_for('note_delete', note_id = note.id) }}"> -->
            <!-- <button class="btn btn-danger">Delete Case Note</button> -->
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
                Delete
            </button>

        <!-- </a> -->
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Are you sure you want to delete?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deleted posts cannot be recovered.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('note_delete', note_id = note.id ) }}">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </div>
            </div>
        </div>
    </div>



{% endblock content %}