{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" type=text/css href="../static/css/logged.css">
{% endblock style %}

{% block content %}
    <div class="container">
        <h3 class="header-text">Case Notes</h3>

        <h4>Hello {{current_user.username}}, here are your case notes </h4>
        <p>(To modify or see the details of a note, click on its title)</p>
        {% for note in user_notes %}
            <div class="container">
                <h3>
                    <a class="note_title" href="{{ url_for('note_detail', note_id = note.id) }}">{{ note.case_name }}</a>
                </h3>
                <p>{{ note.case_note }}</p>
            </div>
        {% endfor %}
    </div>

    

{% endblock content %}