{% extends 'base.html' %}

{% block content %}
        <div class="left-sidebar">
            <h4>What We Do</h4><hr>
            <div class="context">
                Subrogation<br>
                Property<br>
                Workers compensation<br><br>
            </div>
            <div class="context">
                Litigation<br>
                Apellate<br>
                Commercial<br>
                Defense<br>
                Labor/Employment<br><br>
            </div>
            <div class="context">
                Business<br>
                Brokerage Agreement<br>
                Business Formation<br>
                Business Related Contracts<br>
                Labor/Employment<br><br>
            </div>
            <div class="context">
                Transportation
            </div>
            <br>
            <!--Image for Attorneys link-->
            <img class="attorney" src="../static/images/gavel.jpg" alt="Attorneys" width="120px" height="80px">
            <div class="caption">
                Attorneys<br>
                Meet our prestigious and esteemed associates.
            </div>
        
        </div>
        <div class="content">
            <div class="first-paragraph">
                Who we are? That is one of the most important questions a propspective client can ask us. Our answer - one of the most respected law firms in the country that cares about your case, your business, and solving your problem. We invite you to get to know our attorneys bettera and understand the depth of experience and talent we have in the links below
            </div>
            <br>
            <div class="photo-grid">
                <img src="../static/images/scrabble_lawyer.jpg" width="250" height="120px">
                <div class="caption1">Subrogation</div>
                <img src="../static/images/conference_room.jpg" width="250" height="120px">
                <div class="caption2">Litigation</div>
                <img src="../static/images/business_newspaper.jpg" width="250" height="120px">
                <div class="caption3">Business</div>
                <img src="../static/images/red_truck.jpg" width="250" height="120px">
                <div class="caption4">Transportation</div>
            </div>
        </div>
{% endblock content %}
